 <footer>
        <ul class="footer link">
            <li id="link">Quick Links</li>
            <hr>
            <li><a href="/resume">RESUME</a></li>
            <li><a href="/">HOME</a></li>
            <li><a href="/project">PROJECT</a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100055573969849&sk=about_contact_and_basic_info" target="_blank">CONTACT </a></li>
            <li><a href="/about">ABOUT</a></li>
        </ul>
    </footer>