<%- include("includes/header.html") %>
    <div class="about">
       <div class="card">
  <div class="card-header">
    <h3>About Me :</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title">BSc IT Graduate | MERN Stack Developer | Full-Stack Enthusiast</h5>
    <p class="card-text" style="color: black;">I am a Bachelor of Science in Information Technology (BSc IT) graduate with strong knowledge of 
        MERN Stack Development (MongoDB, Express.js, React.js, Node.js). Throughout my academic journey, I gained hands-on experience in building 
        dynamic, user-friendly, and scalable web applications while also strengthening my problem-solving and logical thinking skills.</p>
<b>What I Do Best:</b>
<ul>
    <li>Develop full-stack web applications using MERN</li>
    <li>Create responsive and interactive front-end designs with React.js</li>
    <li>Build efficient back-end systems with Node.js and Express.js</li>
    <li>Work with databases (MongoDB, MySQL) to handle data effectively</li>
</ul>
<br>
🌱 I’m passionate about continuous learning, exploring new technologies, and turning ideas into working solutions.<br>
 Currently, I am seeking opportunities to grow as a <b>Full Stack Developer / Software Engineer</b> where I can contribute <br>
 my skills while gaining real-world experience.<br>

<b>Skills & Tools:</b><br>
<b>Frontend:</b>HTML, CSS, JavaScript, React.js, Bootstrap<br>
<b>Backend:</b>Node.js, Express.js<br>
<b>Database:</b>MongoDB, MySQL<br>
<b>Others: </b>Git/GitHub, VS Code, REST APIs<br>
<br><br>
🤝 I’m excited to connect with professionals, mentors, and teams in the tech industry. Let’s collaborate and build something impactful!
</p>
  </div>
</div>
    </div>
   <%- include("includes/footer.html") %>
    <script>
        function showsidebar() {
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'flex'
        }

        function hidesidebar() {
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'none'
        }
    </script>
</body>

</html>