<%- include("includes/header.html") %>
  <section id="contact" data-aos="zoom-in">
  <h2 class="contact-title">Contact Me</h2>
  <form class="contact-form">
    <label for="email">Enter Your Name</label>
    <input type="text" id="email" placeholder="Your Name" required>

    <label for="message">Enter Your Message</label>
    <textarea id="message" rows="5" placeholder="Type your message..." required></textarea>

    <button type="submit" class="submit-btn">Submit</button>
     <p id="successMessage" class="success-message">✅ Message sent successfully!</p>
  </form>
</section>
<br><br><br><br><br><br><br><br><br>
<%- include("includes/footer.html") %>
 <script>
        function showsidebar() {
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'flex'
        }

        function hidesidebar() {
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'none'
        }
         const form = document.getElementById("contactForm");
  const successMessage = document.getElementById("successMessage");

  form.addEventListener("submit", function (e) {
    e.preventDefault(); 

    
    successMessage.classList.add("show");
    form.reset();

    // Hide message after 3 seconds
    setTimeout(() => {
      successMessage.classList.remove("show");
    }, 3000);
  });
    </script>
</body>
</html>