<%- include("includes/header.html") %>
    <form method="get" action="" style="margin: 20px 20px 20px;">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Enter Your Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Enter Your Message</label>
    <textarea type="text" class="form-control" id="exampleInputPassword1"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<%- include("includes/footer.html") %>
</body>
</html>