<%- include("includes/header.html") %>
  <div class="card mb-3 " style="width: 100%;">
    <div class="card-body">
      <h1 class="card-title">THIS IS IRFAN SHAIKH</h1>
      <p class="card-text text-black">I am a Bachelor of Science in Information Technology (BSc IT) graduate with strong
        knowledge of MERN Stack Development (MongoDB, Express.js, React.js, Node.js). Throughout my academic journey, I
        gained hands-on experience in building dynamic, user-friendly, and scalable web applications while also
        strengthening my problem-solving and logical thinking skills.</p>
      <a href="#" class="btn btn-primary">Say Hello!</a>
    </div>
  </div>
  <h1>Certifications</h1>
  <hr>
  <br>
<ul class="certification list-unstyled row justify-content-center">
        <li><img src="certificate-sigma-80-68d3fa0826af06db09016814.jpg " class="img-thumbnail w-200 h-200 rounded p-3 col-md-12" alt="..." ></li>
        <li><img src="Hack2skill-Certificate-2.png " class="img-thumbnail w-200 h-200 rounded p-3 col-md-12" alt="..."></li>
        <li><img src="artificial-intelligent.jpg " class="img-thumbnail w-200 h-200 rounded p-3 col-md-12" alt="..."></li>
        <li><img src="Introduction to Data Science Certificate.jpg" class="img-thumbnail w-200 h-200 rounded p-3 col-md-12" alt="..."></li>
        <li><img src="Introduction to Natural Language Processing Certificate(1).jpg " class="img-thumbnail w-200 h-200 rounded p-3 col-md-12" alt="..."></li>
      </ul>
  <br><br><br><br><br><br><br><br><br>
  <script>
    function showsidebar() {
      const sidebar = document.querySelector('.sidebar')
      sidebar.style.display = 'flex'
    }

    function hidesidebar() {
      const sidebar = document.querySelector('.sidebar')
      sidebar.style.display = 'none'
    }
  </script>
  <%- include("includes/footer.html") %>
    </body>

    </html>