<%- include("includes/header.html") %>
  <div class="card mb-5 container border-0 col-12" style="width: 100%;">
    <div class="card-body row flex-row-reverse " style="overflow-y: hidden; align-items: center;">
      <div style="overflow-y: hidden;" class="col-lg-6 col-md-12">
        <img src="Untitled Project.jpg" class="img-thumbnail rounded-circle w-70 mb-4 ms-5 col-md-4 col-lg-8 position-relative w-75" alt="..." >
      </div>
      <div class="col-lg-6 col-md-12">
        <h1 class="card-title fw-bold ml-0" style="overflow-y: hidden;">Hi! I'm IRFAN SHAIKH</h1>
      <p class="card-text text-black lead">I am a Bachelor of Science in Information Technology (BSc IT) graduate with strong
        knowledge of MERN Stack Development (MongoDB, Express.js, React.js, Node.js). Throughout my academic journey, I
        gained hands-on experience in building dynamic, user-friendly, and scalable web applications while also
        strengthening my problem-solving and logical thinking skills.</p>
      <a href="mailto:irfanyahiya711@gmail.com" class="btn btn-primary" style="background-color:blue; width: 30%;">Say Hello!</a>
      </div>
    </div>
  </div>
  <div class="container">
    <hr>
    <br>
    <h2 class="fw-bold text-center text-dark mb-5">Projects</h2>
    <div class="row col-lg-12 col-xs-12">
      <div class="col-md-12 col-lg-6">
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h4 class="card-title">Portfolio Website</h4>
            <p class="card-text text-dark">"A personal portfolio website designed to showcase skills, projects, and achievements in web development. 
              It highlights technical expertise, academic background, and creative work, providing an interactive and professional platform for potential 
              employers and collaborators."</p>
            <a href="https://portfolio-website-nnpo.onrender.com" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h4 class="card-title">E-commerce Website</h4>
             <p class="card-text text-dark">"Built a full-featured e-commerce platform using React.js and Node.js with product listing, cart, and order placement features. 
              Implemented RESTful APIs and ensured mobile responsiveness."</p><br>
            <a href="https://68d00d795aa9565ef7f0c170--e-commercewebsitepro.netlify.app/" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h5 class="card-title">Portfolio Website</h5>
            <p class="card-text">Built with HTML, CSS, and Bootstrap.</p>
            <a href="#" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h5 class="card-title">Portfolio Website</h5>
            <p class="card-text">Built with HTML, CSS, and Bootstrap.</p>
            <a href="#" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h5 class="card-title">Portfolio Website</h5>
            <p class="card-text">Built with HTML, CSS, and Bootstrap.</p>
            <a href="#" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h5 class="card-title">Portfolio Website</h5>
            <p class="card-text">Built with HTML, CSS, and Bootstrap.</p>
            <a href="#" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <br>
  <h1 style="overflow-y: hidden; color: black; justify-content: center;" class="text-dark fw-bold mb-5">Certifications</h1>
<ul class="certification list-unstyled row justify-content-center">
        <li><img src="certificate-sigma-80-68d3fa0826af06db09016814.jpg " class="img-thumbnail w-200 h-200 rounded p-3 col-md-12" alt="..." ></li>
        <li><img src="Hack2skill-Certificate-2.png " class="img-thumbnail w-200 h-200 rounded p-3 col-md-12" alt="..."></li>
        <li><img src="artificial-intelligent.jpg " class="img-thumbnail w-200 h-200 rounded p-3 col-md-12" alt="..."></li>
        <li><img src="Introduction to Data Science Certificate.jpg" class="img-thumbnail w-200 h-200 rounded p-3 col-md-12" alt="..."></li>
        <li><img src="Introduction to Natural Language Processing Certificate(1).jpg " class="img-thumbnail w-200 h-200 rounded p-3 col-md-12" alt="..."></li>
      </ul>
  <br><br><br><br><br><br><br><br><br>
  <script>
    function showsidebar() {
      const sidebar = document.querySelector('.sidebar')
      sidebar.style.display = 'flex'
    }

    function hidesidebar() {
      const sidebar = document.querySelector('.sidebar')
      sidebar.style.display = 'none'
    }
  </script>
  <%- include("includes/footer.html") %>
    </body>

    </html>