<%- include("includes/header.html") %>
<div class="card mb-3 " style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">This is Irfan Shaikh.</h5>
    <p class="card-text text-black">I am a Bachelor of Science in Information Technology (BSc IT) graduate with strong knowledge of MERN Stack Development (MongoDB, Express.js, React.js, Node.js). Throughout my academic journey, I gained hands-on experience in building dynamic, user-friendly, and scalable web applications while also strengthening my problem-solving and logical thinking skills.</p>
    <a href="#" class="btn btn-primary">Contact Me</a>
  </div>
</div>
    <%- include("includes/footer.html") %>
    <script>
        function showsidebar() {
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'flex'
        }

        function hidesidebar() {
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'none'
        }
    </script>
</body>

</html>
